@import url("https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&display=swap");

body {
  background-color: #c2ded1;
  font-family: "Lato", sans-serif;
}

/* Navbar */

#navbar {
  font-size: 1.5rem;
  font-weight: 300;
}

#navbar .nav-link {
  color: #fff;
}

#navbar .nav-link:hover {
  color: #354259;
}

#navbar .navbar-brand {
  text-transform: uppercase;
  color: #354259;
  font-size: larger;
  font-weight: 500;
}

/* Header */

#header-title h1 {
  text-transform: uppercase;
  font-weight: 300;
  font-size: 3rem;
}

/* Responsive */

@media screen and (max-width: 1200px) {
  #header-title h1 {
    text-transform: uppercase;
    font-weight: 300;
    font-size: 2rem;
  }
}
