@import url("https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&display=swap");

html,
body div {
  width: 100%;
}

body {
  background-color: #c2ded1;
  font-family: "Lato", sans-serif;
}

/* Navbar */

#navbar {
  font-size: 1.5rem;
  font-weight: 300;
}

#navbar .nav-link {
  color: #fff;
}

#navbar .nav-link:hover {
  color: #354259;
}

#navbar .navbar-brand {
  text-transform: uppercase;
  color: #354259;
  font-size: larger;
  font-weight: 500;
}

/* Header */

#header-title h1 {
  text-transform: uppercase;
  font-weight: 400;
  font-size: 3rem;
}

/* Main section 2 */

.blurb h2 {
  color: #354259;
  font-size: 2.5rem;
  font-weight: 400;
}

.blurb p {
  color: #3f4e4f;
  line-height: 2;
  font-weight: 300;
  font-size: 1.125rem;
}

.content {
  margin-top: 100px;
  margin-bottom: 100px;
}

footer a {
  font-family: "Lato", sans-serif;
  text-decoration: none;
  color: white;
}

footer a:hover {
  color: #3f4e4f;
}

/* Responsive */

@media screen and (max-width: 1200px) {
  #header-title h1 {
    text-transform: uppercase;
    font-weight: 300;
    font-size: 2rem;
  }
}
